
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="copy">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h5>
                        &copy; 2016
                        <a href="http://vl-fedorchuck.rhcloud.com/"> Volodymyr Fedorchuk </a>
                        <a href="http://www.gnu.org/licenses/gpl-3.0.en.html"> License </a>
                        <a href="https://github.com/fedorchuck/web-store#web-store"> Source </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>